.editorPanel {
    display: flex;
}


.editorPanel .leftPanel{
    width: 32px;
    background-color:#CCC;
    transition: all 0.3s;
}

.editorPanel .leftPanel:hover{
    width: 500px;
    background-color:#CCC;
}







.note-editor {
    width: 100%;
}



.note-editor.panel {
    box-shadow: none;
}




.note-editing-area h1 {
    /*color:#F00;*/
}

.note-editing-area h1:before {
    font-family: fontawesome;
    margin-right: 8px;
    content: '\f0a3';
    color: #CCC;
}



.note-editing-area blockquote {
    border-left: solid 8px #CCC;
}


.note-editing-area p:before {
    font-family: fontawesome;
    content: '\f1dd';
    color: #AAA;
    margin-right: 8px;
}




.note-editing-area p.introduction:before {
    content: '\f0e5 ';
}



.note-editing-area p.chapo:before {
    content: '\f006 ';
}


.note-editing-area p.copyright:before {
    content: '\f1f9';
}