.editorPanel {
    display: flex;
}


.editorPanel .leftPanel{
    width: 32px;
    background-color:#CCC;
    transition: all 0.3s;
}

/*
.editorPanel .leftPanel:hover{
    width: 500px;
    background-color:#CCC;
}
*/




.btn.btn-sm, .input-group-btn .btn.btn-sm, .btn-group-sm .btn, .btn-group-sm .input-group-btn .btn {
    padding: 5px 8px;
    font-size: 12px;
    border: solid 1px #CCC;
    background-color:#FFF;
}




.note-editor.panel {
    box-shadow: none;
}

.note-popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu {
    z-index:10000;
}





.note-editor {
    width:100%;
}



.note-editing-area h1 {
    /*color:#F00;*/
}

.note-editing-area h1:before {
    font-family: fontawesome;
    margin-right: 8px;
    content: '\f0a3';
    color: #CCC;
}



.note-editing-area blockquote {
    border-left: solid 8px #CCC;
}


.note-editing-area p:before {
    font-family: fontawesome;
    content: '\f1dd';
    color: #AAA;
    margin-right: 8px;
}




.note-editing-area p.introduction:before {
    content: '\f0e5 ';
}



.note-editing-area p.chapo:before {
    content: '\f006 ';
}


.note-editing-area p.copyright:before {
    content: '\f1f9';
}